[submodule "mavsdk-proto"]
	path = proto
	url = https://github.com/mavlink/MAVSDK-Proto.git
[submodule "googletest_safeEqual"]
	path = googletest_safeEqual
	url = git@github.com:KoreshGit/googletest_safeEqual.git
